.editor {
  padding: $base-padding * 4;
  float: right;
  height: 100%;
  width: 75%;
}

.editor--publish-button  {
  @include button($mint, fade-out($white, .1));
  margin: 0 $base-padding;
  float: right;
}

.editor--draft-button {
  @include button(darken($light-gray, 35%), fade-out($white, .1));
  float: right;
}

.editor--paper {
  background-color: $white;
  border: 1px solid;
  border-color: darken($light-gray, 15%);
  display: block;
  width: 100%;
  height: 50%;
  padding: $base-padding * 2;
  margin: 0 0 $base-padding * 4;
  outline: none;
  color: lighten($black, 40%);
  font-family: "Helvetica Neue", "Helvetica Light", "Helvetica", sans serif;

  &:focus {
    border-color: $mint;
    box-shadow: inset 0 0 18px -4px fade-out($mint, .5);
    outline: none;
  }
}
